.main_title{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.sign_in_block, .sign_up_block{
    width: 500px;
    height: 500px;
    background-color: hsla(49, 33%, 6%, 0.75) ;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
}
.sign_up_block{
    height: 550px;
}
.icon{
    width: 100px;
}
.my_input{
    font-family: 'Roboto', sans-serif;
    width: 400px;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
}
.my_input:focus{
    outline: none;
}
.form_input{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.check_form{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    display: block;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.btn_sign{
    font-family: 'Roboto', sans-serif;
    width: 250px;
    height: 30px;
    border-radius: 15px;
    border: none;
    color: white;
    background-color: rgb(255, 47, 47)
}
.btn_sign:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.btn_back{
    font-family: 'Roboto', sans-serif;
    width: 300px;
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 15px;
    border: none;
    color: rgb(255, 47, 47);
    background: none;
}
.btn_back:hover{
    cursor: pointer;
}
.link_next{
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 47, 47);
    font-size: 14px;
    font-weight: 500;
}
.link_next:link{
text-decoration: none;
}
.form_btn{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.name_form{
    display: flex;
    flex-direction: row;
    gap: 6px;
}
.input_name{
    font-family: 'Roboto', sans-serif;
    width: 197px;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
}
.input_name:focus{
    outline: none;
}
.title{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: grey;
    margin-top: 30px;
}
.login_block{
    width: 100%;
    height: 30px;
    background-color:white;
    display: flex;
    gap: 15px;
}
.link_log{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 18px;
    font-weight: 600;
    margin: 5px 30px 0 30px;
}
.link_log:link{
    text-decoration: none;
}